body,
p,
td,
div,
span,
input,
th,
li,
textarea {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    border: 0;
    text-align: center;
}

p {
    margin: 5px 0 8px 0;
}

img {
    border: 0px;
}

h1 {
    color: #003366;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin: 12px 0;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #003366;
    padding: 0;
    margin-bottom: 2px;
}

input {
    padding: 5px;
    color: #000;
    box-sizing: border-box;
}

select {
    padding: 4px;
    color: #000;
    box-sizing: border-box;
}

option {
    font-size: 16px;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=date],
input[type=email],
select {
    border: 1px solid #044284;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    font-size: 16px;
    background-color: #fff;
}

input[type=submit],
input[type=reset] {
    border: 1px solid #417516;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    background: #417516;
    color: #fff;
    padding: 6px;
    font-size: 16px;
}

input[type=button] {
    border: 1px solid rgb(142, 139, 139);
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    background: rgb(142, 139, 139);
    color: #fff;
    padding: 6px;
    font-size: 16px;
}


.innormal {
    text-align: right;
    width: 90px;
}

.in4char {
    text-align: right;
    width: 58px;
}

.in3char {
    text-align: right;
    width: 46px;
}

.in2char {
    text-align: right;
    width: 35px;
}

.inlong {
    text-align: right;
    width: 120px;
}

.inlonger {
    text-align: left;
    width: 170px;
}

.inlongest {
    text-align: left;
    width: 230px;
}

.inlongesthalf {
    width: 112px;
}

.infull {
    width: 226px;
}

.inhalf {
    width: 110px;
}

.infulltxarea {
    width: 600px;
    padding: 8px;
}

.inshortfull {
    width: 170px;
}

.inshorthalf {
    width: 82px;
}

#contentout {
    width: 1100px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
}

#content {
    padding: 0px 0px 15px 0px;
    width: 728px;
    float: left;
}

#right {
    width: 336px;
    float: right;
    text-align: center;
}

#contentbig {
    padding: 0px 0px 15px 0px;
    width: 843px;
    float: right;
}

.panel {
    background: #eee;
    border: solid 1px #bbbbbb;
    padding: 5px;
}

.panel2 {
    background-color: #eeeeee;
    padding: 5px;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
}
h3{font-size:19px;font-weight:bold;}
hr{border:0;color:#aaa;background-color:#aaa;height:1px;}
a{color:#069;text-decoration:underline;}
a:hover{text-decoration:none;}


#footer{background:#e1e1e1;padding:25px 0px;font-size:13px;color:#555;text-align:center;}
#footer a{color:#444;}
#footer a:hover{text-decoration:none;}
#footerin{width:1100px;margin-left: auto;margin-right: auto;text-align: left;overflow:auto;color:#555;}
#footernav{text-align: center;}

#homecaldiv{background:#d1dde9;padding:10px 0px;}
#homelistdiv{background:#fff;padding:20px 0px;}
#homecaldiv td{overflow:hidden;}

#breadcrumbs, #breadcrumbs span{font-size:13px;}
#breadcrumbs a, #breadcrumbs a span{text-decoration: none;color: #069;}
#breadcrumbs a:hover, #breadcrumbs a span:hover{text-decoration:underline;}

table.cinfoT{color:#000;background-color:#fafafa;border:1px #666 solid;border-collapse:collapse;border-spacing:0;margin-top:0;}
table.cinfoT td.cinfoHd{border-bottom:3px solid #666;background-color:#E0F0FE;font-weight:bold;color:#000;padding:3px;}
table.cinfoT td.cinfoHdL{border-bottom:3px solid #666;background-color:#E0F0FE;font-weight:bold;color:#000;padding:3px;}
table.cinfoT td{border:1px solid #666;color:#000;padding:3px;}
table.cinfoT tr:nth-child(odd) {background-color: #eee;}
table.cinfoT tr:nth-child(even) {background-color: #fff;}
table.cinfoTS td.cinfoHd{font-size:13px;}
table.cinfoTS td.cinfoHdL{font-size:13px;}
table.cinfoTS td{font-size:13px;padding:3px 1px;}

.arrow_box {position: relative;background: #eee;border: 1px solid #aaa;padding:3px 8px;text-align:center;}
.arrow_box:after, .arrow_box:before {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.arrow_box:after {border-color: rgba(221, 221, 221, 0);border-left-color: #eee;border-width: 12px;margin-top: -12px;}
.arrow_box:before {border-color: rgba(238, 238, 238, 0);border-left-color: #aaa;border-width: 13px;margin-top: -13px;} */
.result_box {background: #e3edda;border: 1px solid #8db46d;padding:3px 8px;text-align: center;}
.panel{background:#eee;border: solid 1px #bbbbbb;padding: 5px;}
.panel2{background-color:#eeeeee;padding: 5px;border-right:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;border-left:1px solid #bbbbbb;}
.reference{font-size:13px;padding-left: 1.8em;}
.reference li{font-size:13px;word-wrap: break-word;}

#printit{width: 80px;float:right;text-align:right;}
.h2result{background:#518428;color:#fff;border:1px solid #518428;padding: 5px;margin-top:3px;font-size:22px;font-weight: normal;}
.h3head{margin-bottom: 2px;}
.sectionlists div{padding-bottom: 5px;}
#searchbox{padding-top: 16px;}
#bluebtn{border-radius: 1px;background:#336699;padding: 5px 8px;font-size:18px;color:#fff;}
#bluebtn:hover{background:#444;color:#fff;}
#calcSearchOut{padding: 5px;}
#calcSearchOut div{padding: 5px;text-align:left;}



@media screen and (max-width:1140px) {
    #header {
        width: 990px;
    }

    #contentout {
        width: 1000px;
    }

    #content {
        width: 640px;
        float: left;
        padding-left: 10px;
    }

    #footerin {
        width: 990px;
    }

    .leftinput {
        width: 310px;
        float: left;
    }

    .rightresult {
        width: 320px;
        float: right;
    }

    .leftchart {
        width: 445px;
    }

    .rightpie {
        width: 155px;
    }


}